<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">PAIN LIST</a>
    </header>
  
    <div class="container">
      <div class="container-header">
        <h1>疼痛状況</h1>
      </div>

      <table id="table1" >
        <tr>
          <th width="18%">登録番号 or 名前</th>
          <th width="20%">動作・部位</th>
          <th width="8%">VAS</th>
          <th width="51%">memo</th>
        </tr>
        
            <tr>
              
              <td width="18%">(例)田中　太郎</td>
              <td width="20%">(例)ジョギング・膝関節</td>
              <td width="8%">(例)45</td>
              <td width="51%">(例)10分程度ジョギングをすると膝の内側が徐々に痛くなってくる。</td>
            </tr>
          
      </table>
　　　 <b><a id="download" href="#" download="pain_list.csv" onclick="handleDownload()" style="float: left;">csvファイルダウンロード</a></b>
　
　　　<div style="padding-top: 10px;">
        <h5>新規登録</h5>
        <p class="form-label" >登録番号 or 名前</p>
        <input name="table1_cell_value" id="th_value1" type="text">
        <p class="form-label" style="padding-top: 30px;">動作・部位</p>
        <input name="table1_cell_value" id="th_value2" type="text">
        <p class="form-label" style="padding-top: 30px;">VAS: Visual Analog Scale</p>
        <p class="pain1">↓痛みなし</p> <p class="pain2">想像できる最大の痛み↓</p> 
        <input class="input-range" name="table1_cell_value" id="th_value3" type="range" placeholder="VAS" value="50" min="0" max="100" onchange="change_slider();"/>
        <p class="form-label" style="padding-top: 30px;">memo</p>
        <input name="table1_cell_value" id="th_value4" type="text">

        <script>
          function change_slider() {
            var slider = document.getElementById("th_value3");
            var out_frame = document.getElementById("vas-value");
        
            out_frame.innerText = slider.value;
          }
        </script>

        <input class="delete-submit"　type="button" value="表に上記内容を追加 (タッチ)" onclick="add_line()" style="margin-top: 30px; margin-bottom: 30px; font-size: 15px; display:block;">

       
      </div>
　　　

        
      <script>
        //ここから表の行追加のコード
        function add_line() {
          for(var i = 0; i < document.getElementsByName("table1_cell_value").length; i++){
            if(document.getElementsByName("table1_cell_value")[i].value ==""){
                alert("未入力項目があります。");
                return false;
            }
          }

          var table = document.getElementById('table1');//id=table1という要素を取得
          var row = table.insertRow(-1);//id=table1の中にtrタグを最後の子要素として追加
          var cells = new Array();
          for(var i = 0; i < table.rows[0].cells.length; i++){
            cells[i] = row.insertCell(-1);//新しく作ったrowの中にtrタグを最後の子要素として追加
            cells[i].innerText=document.getElementsByName("table1_cell_value")[i].value;
            document.getElementsByName("table1_cell_value")[i].value="";//入力フィールドの初期化
          }
        }
        //ここまで表の列追加のコード
        //ここからCSV出力＆ダウンロード
        function handleDownload() {
            var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);//文字コードをBOM付きUTF-8に指定
            var table = document.getElementById('table1');//id=table1という要素を取得
            var data_csv="";//ここに文字データとして値を格納していく
    
            for(var i = 0;  i < table.rows.length; i++){
              for(var j = 0; j < table.rows[i].cells.length; j++){
                data_csv += table.rows[i].cells[j].innerText;//HTML中の表のセル値をdata_csvに格納
                if(j == table.rows[i].cells.length-1) data_csv += "\n";//行終わりに改行コードを追加
                else data_csv += ",";//セル値の区切り文字として,を追加
              }
            }
    
            var blob = new Blob([ bom, data_csv], { "type" : "text/csv" });//data_csvのデータをcsvとしてダウンロードする関数
            if (window.navigator.msSaveBlob) { //IEの場合の処理
                window.navigator.msSaveBlob(blob, "pain_list.csv"); 
                //window.navigator.msSaveOrOpenBlob(blob, "test.csv");// msSaveOrOpenBlobの場合はファイルを保存せずに開ける
            } else {
                document.getElementById("download").href = window.URL.createObjectURL(blob);
            }
    
            delete data_csv;//data_csvオブジェクトはもういらないので消去してメモリを開放
        }
        //ここまでCSV出力＆ダウンロード
    </script>
    </div>
  </body>
</html>